# Ignore IDE-specific files and directories
**/_ide/
**/.cache/
**/result/

# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
compile_commands.json
dfx_runtime.txt
.vitisWorkspace.json
.hls.failed
